@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

:root{
    --bgcolor: #f9f7f3;
    --navtxtcolor: #0E0B07;
    --navbgcolor: #ffffff;
    --navbgcolor: #FDECE3;
    --hovercolor: #f87d7d;
}
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'poppins', sans-serif;
    background-color: var(--bgcolor);
    align-items: center;
    box-sizing: border-box;
    background-image: url('6092643_3159146.svg');
    background-size:70vh;
    background-repeat:repeat;
    background-attachment: fixed;
}
.container {
    flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
header nav{
    display: flex;
    justify-content: center;
    background: var(--navbgcolor);
    background-blend-mode: color;
    padding: 0.4rem 2rem;
    border-radius: 0 0 15px 15px;
}
    
header h1{
    color: var(--navtxtcolor);
}
p{
    margin: 0.5rem;
}
form{
    display: flex;
    background: var(--bgcolor);
    border-radius: 0.7rem;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0.4rem;
    padding: 1.4rem;

}
form button{
    background: var(--navbgcolor);
    color: var(--navtxtcolor);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
form button:hover{
    background: var(--hovercolor);
}


#name,#email{
    border: 0.1mm solid black;
    border-radius: 9px;
    
}
#name, #email{
    padding: 0.5rem;
    width: 100%;
}
footer{
    background: var(--navbgcolor);
    color: var(--navtxtcolor);
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}
.container p{
    background: var(--bgcolor);
    border-radius: .7rem;
    padding: 1vh;
}